/* PC */

@media (min-width: 1024px) {
	.navbar-mobile {
		display: none !important;
	}

}


/* Mobile & Tablet */

@media (max-width: 1023px) {
    
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    

}


/* Mobile */

@media (max-width: 739px) {
	.page {
		display: none !important;
	}

	.list__header,
	.form__search,
	.list__menu {
		display: none;
	}

	i.fas.fa-bars.hidden-on-pc.btn__bar {
		display: block;
	}

	.home-branch {

		font-size: 22px;
	}

	.ring {
		display:none
	}

	.home-brand-details div {
		font-size: 16px;
		width:100%
	}

	.home-container.my-4 {
		margin-top: 0px !important;
	}

	.intro {
		display: none;
	}

	.slick-slide {
		width: 100% !important;
	}

	.slick-track {
		display: inline-flex;
	}

	.intro__branch {
		font-size: 22px;
		margin-top: 32px;
		padding-top: 24px;
	}

	.home-news-title a {
		font-size: 18px !important;
	}

	.mobile-bar-icon {
		display: inline-block ;
	}

	.header__icon-search {
		display: flex;
		padding: 0 8px;
		font-size: 30px;
	}

	.wrap__header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 88px;
	}

	.main {
		margin-top: 88px;
	}

	.product__heading--cate,
	.product__list--cate {
		display: none;
	}

	.mobile-product__heading--cate {
		display: block;
	}

	.product-news {
		display: none;
	}

	.wrap__product img {
		width: 100%;
		height: auto;
	}

	.product-title--mobile {
		font-size: 24px;
		font-weight: bold;
	}

	.d-product-img-show-wrap img {
		display: none;
	}

	.d-product-img-more__item img {
		border: none !important;
	}

	.d-product-contact-btn {
		margin: 8px 0;
	}

	.d-product-more-details {
		transform: translateY(0);
	}

	.d-product-more-details {
		height: 20%;
		display: flex;
		align-items: center;
		justify-content:center;
	}

	.d-product-more-infor {
		font-size: 15px;
	}

	.d-product-more-infor--mobile {
		display:none;
	}

	.hide-on-mobile {
		display: none;
	}

	.news-big-label {
		color: var(--primary);
	}

	.news-left-title a {
		color: #000;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;
	}

	.news-left-img img {
		height: auto;
	}

	.news-left-title {
		display: none;
	}

	.news-left-title--mobile {
		display: block;
		margin-top: 8px;
	}

	.news-left { 
		margin-bottom: 12px;
	}

	.news__curr--desc p {
		margin-bottom: 0 ;
	}

	.news-achievement-img {
		height: auto;
		width: 100%;
	}

	.main-post-title {
		margin-top: 24px;
	}

	.contact-title {
		margin-top: 0;
		padding-top: 24px;
	}

	.g-intro-header {
		font-size: 24px;
		margin-bottom: 16px;
		margin-top: 8px;
	}

	.g-intro-header span {
		font-size: 16px;
	}

	.g-intro-2-wrap {
		width: 100%;
	}

	.g-intro-2-item-head {
		font-size: 18px;
	}

	.g-intro-header--mobile {
		font-size: 18px;
		margin-bottom: 0;
	}

	.s-intro-img {
		height: auto;
	}

	.s-intro-img-2 {
		width: 100%;
		height: auto;
	}

	.breadcrumb {
		margin-top: 100px !important;
	}
}