/* PC */

@media (min-width: 1024px) {
	.navbar-mobile {
		display: none !important;
	}

}


/* Mobile & Tablet */

@media (max-width: 1023px) {
    
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    

}


/* Mobile */

@media (max-width: 739px) {
	.list__header,
	.form__search,
	.list__menu {
		display: none;
	}

	i.fas.fa-bars.hidden-on-pc.btn__bar {
		display: block;
	}

	.home-branch {

		font-size: 22px;
	}

	.ring {
		display:none
	}

	.home-brand-details div {
		font-size: 16px;
		width:100%
	}

	.home-container.my-4 {
		margin-top: 0px !important;
	}

	.intro {
		display: none;
	}

	.slick-slide {
		width: 100% !important;
	}

	.slick-track {
		display: inline-flex;
	}

	.intro__branch {
		font-size: 22px;
		margin-top: 32px;
		padding-top: 24px;
	}

	.home-news-title a {
		font-size: 18px !important;
	}

	.mobile-bar-icon {
		display: inline-block ;
	}

	.header__icon-search {
		display: flex;
		padding: 0 8px;
		font-size: 30px;
	}

	.wrap__header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 88px;
	}

	.main {
		margin-top: 88px;
	}

}